# untracked files
/out/
guillermo_rojas_hernandez_viren_mody_hw2.iml
.idea/

/TestUnderstand/TestUnderstand.iml
/TestUnderstand/out/
/TestUnderstand/.idea/

# Gradle build untracked files
/.gradle/
/gradle/
/build/

# Understand Database files
/src/*.udb
/*.udb
/new.txt
/original.txt
/*_html/

# Python cache
/src/__pycache__/

# Virtual Environment
/src/venv/
